

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: black;
    color: white;
    padding: 10px 0;
    width: 100%;
}

header h1 {
    margin-right: 30%;
}

/* Container styles */
.container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 200px; */
}

.navbar .content-navebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Image styles */
img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 0px 10px;
}

/* Logo styles */
.logo {
    font-size: 24px;
    color: white;
    /* Added text color */
}

/* Navigation links styles */
.nav-links {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    /* display: flex; */
}

.nav-links ul {
    display: flex;
    padding-right: 100px;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
    padding: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-Info {
    /* border: 1px solid yellow; */
    width: 350px;
    justify-items: flex-end;

}

.main-Info :first-child {

    display: inline;

}

.main-Info :last-child {
    display: inline;
}

.main-content {
    /* padding: 150px 100px; */
    border: 1px solid black;
}

h2 {
    text-align: center;
    margin-top: 40px;
}



.main-content {
    display: flex;
    flex-wrap: wrap;
    /* padding: 50px 50px 7px; */
}

.main-content ul {
    width: 100px;
    list-style: none;
    align-items: center;
    padding-right: 130px;
    margin: 30px;
}

.main-content ul li {
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding-right: 100px;
}

.main-content ul li input {
    width: 250px;
    padding: 10px;
}

/* Footer styles */
footer {
    background-color: black;
    ;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Sidebar styles */
aside {
    width: 17%;
    background-color: rgb(53, 52, 52);
    height: 875px;
}

/* Main content styles */
main {
    padding-bottom: 250px;
    padding-left: 20px;
    height: 85vh;
    /* margin: 0 auto; */
}

/* Additional styles for links inside sidebar */
aside .nav-links li a {
    display: flex;
    padding: 10px;
    color: white;
}

main .text-right {
    padding-top: 10px;
    justify-content: left;
}

.submit-button {
    padding: 8px 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 1000px;
}

.submit-button:hover {
    background-color: #218838;
}