* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Root Variables (Colors and Transitions) */
:root {
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    --cream-color: #f5f5dc;
    --hover-color: #333;
    --dark-text: #fff;
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

/* Light Mode */
body {
    min-height: 100vh;
    background-color: white;
}

/* Dark Mode */
body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    background-color: var(--box1-color);
    border-color: #e6e6cc;
}

.nav-links {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-links li {
    padding: 10px 0;
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 13px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: black;
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--hover-color);
}

body.dark .nav-links li a i,
body.dark .nav-links li a .link-name {
    color: var(--dark-text);
}

body.dark nav {
    background-color: #222;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 0px 0px;
    transition: var(--tran-05);
}

/*Dashboard*/
/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--box1-color); /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    padding: 15px 20px;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 1;
}

/* Logo Styles */
.header h1 {
    font-size: 24px;
    margin: 0;
}

/* Search Styles */
.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 500px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.search button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: blue; /* Change the button color as needed */
    color: #fff;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(14, 14, 180); /* Change the button color as needed */
}

/* Navigation Styles */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-left: 20px; /* Adjust the spacing between items */
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-icon {
    color: #333;
    text-decoration: none;
}

.logo {
    max-width: 100%;
    height: auto;
}

/* Swiper Slider */
.mySwiper {
    position: relative;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.swiper-slide {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 20px;
}

/* Main Content */
.main {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side {
    flex: 1;
    padding: 30px;
}

.main-wrapper {
    margin-bottom: 20px;
}

.main-header {
    font-size: 18px;
    color: #333;
}

.main-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.main-subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.main-content__title,
.main-content__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* Right Side Image */
.center {
    flex: 0 0 66.66%;
    position: relative;
    overflow: hidden;
}

.right-side__img {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottle-bg {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Button Icon */
.toggle-button,
.toggle-button1 {
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-button i {
    font-size: 24px;
    color: #333;
}

/* Button Hover Effect */
.toggle-button:hover,
.toggle-button1:hover {
    color: #007bff;
}

.more-menu {
    background-color: #007bff; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Set padding (top/bottom, left/right) */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Change cursor on hover */
    margin-top: 20px;
}

.more-menu:hover {
    background-color: #0056b3; /* Change background color on hover */
}
/* Style cho popup form */
#popupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
  padding: 20px;
  border-radius: 5px;

  /* Shadow */
/*  box-shadow: 0 0 10px rgba(0,0,0,0.3); */
}

/* Ẩn đi */  
.hidden {
  display: none;
}
.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 5px;
/*  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);*/
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
 flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #0D6EFD;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
  
}
.button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 10px;
  }
  form .dbl-field .field{
    width: 50%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
form .button-area {
    margin: 25px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between; 
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  
  display: none;
}
/* Hiển thị overlay khi mở form */ 