/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Nov 6, 2023, 11:52:31 PM
    Author     : Admin
*/
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

/* Root Variables (Colors and Transitions) */
:root {
     /* ===== Colors ===== */
     --primary-color: #0E4BF1;
     --panel-color: #FFF;
     --text-color: #000;
     --black-light-color: #707070;
     --border-color: #e6e5e5;
     --toggle-color: #DDD;
     --box1-color: #4DA3FF;
     --box2-color: #FFE6AC;
     --box3-color: #E7D1FC;
     --title-icon-color: #fff;
     --cream-color: #f5f5dc;
     --hover-color: #333;
     --dark-text: #fff;
     /* ====== Transition ====== */
     --tran-05: all 0.5s ease;
     --tran-03: all 0.3s ease;
     --tran-03: all 0.2s ease;
}

/* Light Mode */
body {
     min-height: 100vh;
     background-color: white;
}

/* Dark Mode */
body.dark {
     --primary-color: #3A3B3C;
     --panel-color: #242526;
     --text-color: #CCC;
     --black-light-color: #CCC;
     --border-color: #4D4C4C;
     --toggle-color: #FFF;
     --box1-color: #3A3B3C;
     --box2-color: #3A3B3C;
     --box3-color: #3A3B3C;
     --title-icon-color: #CCC;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
     width: 8px;
}

::-webkit-scrollbar-track {
     background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
     background: var(--primary-color);
     border-radius: 12px;
     transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
     background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
     background: #3A3B3C;
}

nav {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 250px;
     padding: 10px 14px;
     background-color: var(--panel-color);
     border-right: 1px solid var(--border-color);
     transition: var(--tran-05);
     background-color: var(--box1-color);
     border-color: #e6e6cc;
}

.nav-links {
     flex: 1 1 auto;

     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.nav-links li {
     padding: 10px 0;
}

nav.close {
     width: 73px;
}

nav .logo-name {
     display: flex;
     align-items: center;
}

nav .logo-image {
     display: flex;
     justify-content: center;
     min-width: 45px;
}

nav .logo-image img {
     width: 40px;
     object-fit: cover;
     border-radius: 50%;
}

nav .logo-name .logo_name {
     font-size: 25px;
     font-weight: 600;
     color: var(--text-color);
     margin-right: 13px;
     transition: var(--tran-05);
}

nav.close .logo_name {
     opacity: 0;
     pointer-events: none;
}

nav .menu-items {
     margin-top: 40px;
     height: calc(100% - 90px);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.menu-items li {
     list-style: none;
}

.menu-items li a {
     display: flex;
     align-items: center;
     height: 50px;
     text-decoration: none;
     position: relative;
}

.nav-links li a:hover:before {
     content: "";
     position: absolute;
     left: -7px;
     height: 5px;
     width: 5px;
     border-radius: 50%;
     background-color: var(--primary-color);
}

body.dark li a:hover:before {
     background-color: var(--text-color);
}

.menu-items li a i {
     font-size: 24px;
     min-width: 45px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: black;
}

.menu-items li a .link-name {
     font-size: 18px;
     font-weight: 400;
     color: black;
     transition: var(--tran-05);
}

nav.close li a .link-name {
     opacity: 0;
     pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
     color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
     color: var(--text-color);
}

.menu-items .logout-mode {
     padding-top: 10px;
     border-top: 1px solid var(--border-color);
}

.menu-items .mode {
     display: flex;
     align-items: center;
     white-space: nowrap;
}

.menu-items .mode-toggle {
     position: absolute;
     right: 14px;
     height: 50px;
     min-width: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.mode-toggle .switch {
     position: relative;
     display: inline-block;
     height: 22px;
     width: 40px;
     border-radius: 25px;
     background-color: var(--toggle-color);
}

.switch:before {
     content: "";
     position: absolute;
     left: 5px;
     top: 50%;
     transform: translateY(-50%);
     height: 15px;
     width: 15px;
     background-color: var(--panel-color);
     border-radius: 50%;
     transition: var(--tran-03);
}

body.dark .switch:before {
     left: 20px;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
     color: var(--hover-color);
}

body.dark .nav-links li a i,
body.dark .nav-links li a .link-name {
     color: var(--dark-text);
}

body.dark nav {
     background-color: #222;
}

.dashboard {
     position: relative;
     left: 250px;
     background-color: var(--panel-color);
     min-height: 100vh;
     width: calc(100% - 250px);
     padding: 10px 5px;
     transition: var(--tran-05);
}

/*Dashboard*/
/*button add process*/
h1 {
     text-align: center;
     font-size: 40px;
     color: #007BFF;
}

.add_button button {
     background: none;
     border: none;
     cursor: pointer;
}

.add_button button .fa {
     font-size: 22px;
     color: #757575; /* Adjust the color as needed */
     transition: color 0.3s; /* Add transition for hover effect */
}

.add_button button .fa:focus {
     outline: none;
}

.add_button button:hover .fa {
     color: orange; /* Change color on hover if desired */
}

/*Design Processing table*/
.table-container1 {
     overflow-x: auto;
     border-radius: 10px;
     border: 1px solid black;
}

.table-container1 table {
     width: 100%;
     border-collapse: collapse;
}

.table-container1 th,
.table-container1 td {
     padding: 10px;
     text-align: center;
}

.table-container1 th {
     color: white;
     background-color: #007BFF;
}

.table-container1 tbody tr:nth-child(even) {
     background-color: #e6fcfa;
}

.table-container1 tbody tr:hover {
     background-color: #ddd;
}

/*button view processing*/
.view_button button {
     background: none;
     border: none;
     cursor: pointer;
}

.view_button button .fa {
     font-size: 22px;
     color: #757575; /* Adjust the color as needed */
     transition: color 0.3s; /* Add transition for hover effect */
}

.view_button button .fa:focus {
     outline: none;
}

.view_button button:hover .fa {
     color: purple; /* Change color on hover if desired */
}

/*Show table*/

.table-container {
     margin: 10px 0px;
}

.table-container1 {
     margin: 10px 0px;
}

/*Information*/
/* Định dạng container chứa hình ảnh và thông tin */
.information {
     max-width: 85%;
     display: flex;
     align-items: center;
     margin: 20px;
     border: 1px solid #ccc;
     padding: 15px;
     box-shadow: -13px 20px 10px 5px rgba(0, 0, 0, 0.1); /* Thêm shadow */
}

h2 {
     text-align: center;
     margin-bottom: 40px;
}

/* Styles for the icon */
.icon img {
     max-width: 120px;
     height: auto;
     margin-right: 20px;
     padding: 10px;
     border: 2px solid #333;
}

/* Styles for the information section */
.info {
     flex: 1;
}

/* Styles for the form and table */
.info form {
     width: 100%;
}

.info table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
}

.info td {
     padding: 0px 0px;
     text-align: left;
}

.info label {
     font-weight: bold;
     margin-left: 20px;
     margin: 0px 20px;
}

.info i {
     margin-right: 50px;
}
